# Ignore everything by default
*


# -- Allow key project files and build ---------------------------------------

# Key project files
!.gitignore
!.Rbuildignore
!.nojekyll
!_site.yml
!website.Rproj
!README.md

# Locally build directory/subdirectories
!docs/
!docs/**


# -- Exclusions within build directory ---------------------------------------

# Archives (irrespective of subdirectory/basename)
**/archive/
*_archive

# System cache
*.DS_Store


# -- R-generated exclusions --------------------------------------------------

# Session data files
.RData
.RDataTmp

# History files
.Rhistory
.Rapp.history

# Logs & other files
*.log
*.aux
*.out

# User files
.Ruserdata
.Rproj.user/

# Knitr and R Markdown temporary files 
/cache/
*_cache/