# -- Development files and folders ------------------------------------------

# Development i/o (arbitrarily nested)
images/
**/data/
**/input/
**/output/

# Archives (arbitrary nesting and basename)
**/archive/
*_archive

# Rendering artifacts
posts/**/*_files/
posts/**/*.html

# Specific ignorable files and folders
*.Rmd
resources/
_gallery/
.gitignore_
favicon.jpg

# Docs
docs/
#!docs/images/

# Environment
renv/
renv.lock

# Keys/settings
.env


# -- System config/cache -----------------------------------------------------

# IDE
.vscode/
.ipynb_checkpoints

# OS
~$*
*.DS_Store


# -- Python config/cache -----------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.benchmarks/

# Typing
.mypy_cache/


# -- R config/cache ----------------------------------------------------------

# Session data files
.RData
.Rdata
.RDataTmp

# History files
.Rhistory
.Rapp.history

# User files/folders
.Ruserdata
.Rproj.user

# Log files
*.log
*.aux
*.out

# Knitr and R Markdown temporary folders
/cache/
*_cache/

# Other
.quarto
.httr-oauth
/.quarto/
