/* Custom css containers. */

.circular {
  border-radius: 50%;
  overflow: hidden;
}

.centered {
  text-align: center;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-footer {
  background-color: #ffffff;
  border: none;
}

.card-footer > p {
  margin-bottom: 10px;
}

.info-icon {
  font-size: 0.8rem;
  font-weight: 350;
  letter-spacing: 0.5px;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
}

/* Ruled container (wrap figures/images/proofs) */
.fig-border {
  margin-top: -15px;
  padding-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

/* Horizontal scroll container (wrap large kable tables/math blocks) */
.scroll-container {
  max-width: max-content;
  overflow-x: auto;
}

h2 {
  font-size: 1.4rem;
}
